@font-face {
    font-family: 'Jost Heavy';
    src: url('../Jost/TrueType/Jost-800-Heavy.ttf') format('truetype');      
}

@font-face {
  font-family: 'Jost Heavy Italic';
  src: url('../Jost/TrueType/Jost-800-HeavyItalic.ttf') format('truetype');      
}

@font-face {
  font-family: 'Jost Light';
  src: url('../Jost/TrueType/Jost-300-Light.ttf') format('truetype');      
}


@media (min-width: 248px) {  
    .nav-link { font-size: 1em; }
}

/*medium*/
/* @media (min-width: 768px) {  
    .navbar-brand {font-size:8rem;} 
  } */

/*large*/
@media (min-width: 992px) { 
    .navbar-brand {font-size:8.5rem;} 
    .static-top-2 {padding-top: 0rem; }
    .static-top-1 {padding: 0rem; }
    #myWordForm { padding-top: 0rem; }
    .nav-link { font-size: 1.5em; }
  }

  .header {
    font-family: 'Jost Heavy Italic';
    color: white;
    letter-spacing: 0.5rem;
    font-size: 10rem;
  }

  .byErika {
    font-family: 'Jost Light';
    color: white;
  }